@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
/* Add this in your global CSS file */
body {
    transition: background-color 0.3s, color 0.3s;
  }
  
  body.dark {
    background-color: #121212;
    color: #e0e0e0;
  }
  